opencv-python==4.5.5.64   # Later versions give error: Submodule name should always start with a parent module name. Parent name: cv2.cv2. Submodule name: cv2
pandas
tqdm
seaborn
ipywidgets
ipython
ipykernel
matplotlib>=3.2.2
numpy>=1.18.5
Pillow>=7.1.2
PyYAML>=5.3.1
scipy>=1.4.1
requests
torchvision

# Logging -------------------------------------
tensorboard>=2.4.1
# wandb
thop  # FLOPs computation
