name: 'CI'
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  check-compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Java 17
        run: |
          echo "$JAVA_HOME_17_X64/bin" >> $GITHUB_PATH
          echo "JAVA_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV
        shell: bash
      - uses: lf-lang/action-check-lf-files@main
        with:
          mode: "compile"
          no_compile_flag: false
          exclude_dirs: '["failing", "experimental"]'
  check-format:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - name: Set up Java 17
          run: |
              echo "$JAVA_HOME_17_X64/bin" >> $GITHUB_PATH
              echo "JAVA_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV
          shell: bash
        - uses: lf-lang/action-check-lf-files@formatting
          with:
              mode: "format"
              no_compile_flag: false
              exclude_dirs: '["failing", "experimental"]'
